<nav id="mainNav"
    class="navbar navbar-expand-lg navbar-dark sticky-top py-3 bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold brand-title" data-link-root
            href="#">PowerFit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" data-link-inicio
                        href="#">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" data-link-catalogo
                        href="#">Catálogo</a></li>
                <li class="nav-item"><a class="nav-link" data-link-carrito
                        href="#">Carrito <span id="cart-count"
                            class="badge text-bg-light ms-1">0</span></a></li>
                <li class="nav-item"><a class="nav-link" data-link-contacto
                        href="#">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" data-link-perfil
                        href="#">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" data-link-login
                        href="#">Login</a></li>
            </ul>
        </div>
    </div>
</nav>